<div class="flc-prefsEditor-separatedPanel fl-prefsEditor-separatedPanel">
        <!-- This is the div that will contain the Preference Editor component -->
         <div class="flc-slidingPanel-panel flc-prefsEditor-iframe"></div> 
        <!-- This div is for the sliding panel that shows and hides the Preference Editor controls -->
       <span class="fl-prefsEditor-buttons">
			 <button id="reset" class="flc-prefsEditor-reset fl-prefsEditor-reset" style="float:right;">Reset</button>
			 <button id="show-hide" class="flc-slidingPanel-toggleButton fl-prefsEditor-showHide" style="float:right;">Viewing Preferences</button>
       </span>
  </div>     

<nav class="flc-toc-tocContainer"></nav>
<div class='header'>
  <div class="container">
    <div aria-label="site logo" class="logo">
      <a href="{{site.baseurl}}/"><img height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
    </div>
    <div aria-label="site logo" class="logo-mobile">
      <a href="{{site.baseurl}}/"><img alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
 
</div>
</div>
</div>
</div>