<div class='header'>
  <div class="container">
    <div aria-label="site logo" class="logo">
      <a href="{{site.baseurl}}/"><img height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
    </div>
    <div aria-label="site logo" class="logo-mobile">
      <a href="{{site.baseurl}}/"><img alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>