.feature {
  height: 100%;
  border: 1px solid $steel;
  border-radius: 3px;
  padding: 20px;
  // background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  vertical-align: bottom;
  text-align: center;
  justify-content: space-between;

  // cursor: pointer;

  .feature-image {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  .feature-box {
    cursor: pointer;
    display: block;
    height: 100%;
    
  }

  .feature-title {
    // vertical-align: top;
    color:$black;
  }
  .feature-dates{
    display: flex;
    flex-direction: column;
    // align-self: flex-end;
    justify-self:flex-end;
    // vertical-align: text-bottom;
    // vertical-align: bottom;
    // margin-bottom: 0;
    // margin-top: auto;
    color: $primary;
    text-transform: uppercase;  
    //TODO: What color should this be??
  }
  .feature-content {
    margin-bottom: 0;
    margin-top: auto;
    font-weight: 500;
    color: $steel;
    // text-transform: uppercase;
  }
}
